body {
  margin: 0;
  padding: 0;
}

select {
  position: fixed;
  top: 0;
  left: 0;
}

video {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#ui {
  position: fixed;
  top: 0;
  right: 0;
}

#ui label {
  display: block;
}

#ui span {
  display: inline-block;
  width: 32px;
}

#ratio {
  background: white;
}