* {
  margin: 0;
}

video {
  visibility: hidden;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  width: 100%;
}

#color {
  position: fixed;
  bottom: 0; right: 0;
  width: 80px; height: 80px;
}